*{
  margin: 0px;
  padding: 0px;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-left: 7px;
  width: 500px;
  height: 500px;
}

#apaga{
  background-color: black;
  color: white;
}